<div class="footer-container md-mb70 cart">
    <div class="customized-footer">
        <img src="https://cdn.dotpe.in/logo/504/mcd1.jpg" alt="store-logo" /><a target="_blank" href="https://mcdindia.com/terms-conditions/">Terms &amp; Conditions</a><a target="_blank" href="https://mcdindia.com/privacy-policy/">Privacy Policy</a>
        <a target="_blank" href="https://mcdindia.com/contact/">Contact Us</a>
    </div>
    <footer class="bg-dark pt-5 pb-4">
        <div class="py-3 text-center">
            <div class="powered-by-text md-f400">Platform powered by</div>
            <span class="dotpe-logo"><img src="//cdn.dotpe.in/cfe/image/white-logo.png" alt="" /></span>
            <p class="text-center footer-menu pt-4">
                <a href="/about-us">About Us</a><a href="/terms-conditions#refund-cancellation">Refund &amp;
                    Cancellation</a>
            </p>
            <p class="md-f400">© 2021 Pitchers</p>
        </div>
    </footer>
</div>
<div class="nav-menu-wrapper nav-mt-88">
    <div class="menu-view-icon primary-cta bottom-up">
        <i class="fa fa-bars" aria-hidden="true"></i>
        <div>Menu</div>
    </div>
</div>

<div class="nav-menu-wrapper nav-mt-88 " style="display: none;">
    <div class="menuBg"></div>
    <div class="nav-link  expand ">
        <div>
            <div class="nav-menu-modal">
                <div class="nav-menu">
                    <div class="menu-list-wrapper faded">
                        <ul class="menu-list">
                            <li id="menu-element-scroll-149695">Value Meal</li>
                            <li id="menu-element-scroll-2301">Condiments</li>
                            <li id="menu-element-scroll-2308">Happy Meal</li>
                            <li id="menu-element-scroll-2310">BIG Meals</li>
                            <li id="menu-element-scroll-2304">Extra Value Meal</li>
                            <li id="menu-element-scroll-2302">Sides</li>
                            <li id="menu-element-scroll-2303">Beverages</li>
                            <li id="menu-element-scroll-2305">À la carte Products</li>
                            <li id="menu-element-scroll-2300">Desserts</li><span> <li></li> </span></ul>
                    </div><img class="nav-menu-close  " src="//cdn.dotpe.in/cfe/image/ic-close.svg" alt=""></div>
            </div>
        </div>
    </div>
</div>